body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .volume-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .slider {
    width: 200px;
  }
  

  
  .ring  {
    height:50px;
    width:50px;
    border:5px solid  purple;
    margin-bottom:50px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
  }
  